.services {
  width: 100%;
  padding: 50px 0;
  margin: 100px auto;
  background-color: #2a3437;
}
.services-slider {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  .services-item {
    height: 250px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }

    .services-img {
      width: 280px;
      object-fit: cover;
      border-radius: 15px;
    }

    .services-box {
      background: #1d2e34;
      border-radius: 15px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .services-name {
        font-size: 24px;
        color: #ecf0f1;
        margin-bottom: 10px;
      }

      .services-text {
        font-size: 16px;
        color: #bdc3c7;
        margin-bottom: 20px;
      }

      .services-btn {
        background-color: #1abc9c;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
          background-color: #16a085;
        }
      }
    }
  }
}
