.stats {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #2d3e50;
  border-radius: 10px;
}

.stat-item {
  text-align: center;
  background-color: #3b4f63;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 150px;

  .number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #28a0ff;
  }

  p {
    margin-top: 10px;
    font-size: 1rem;
  }
}
